@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;300&display=swap');

:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    nav {
        width: 100vw;
        height: 80px;
        top: 0;
        left: 0;
        background-color: rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: rgb(255, 255, 255);
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 900;
            font-size: 4rem;
        }
    }

    

    section {
        
        div.presentation {
            gap: 3rem;
            margin-top: 5rem;
            display: flex;
            justify-content: center;
        div.container {
            overflow: auto;
            img {
                border-radius: 70px;
            }
                display: grid;
                place-items: center;
                position: relative;
            #eyes, #eyes img {
                position: absolute;
            }
           
        }
        div.p_text {
            display: block;
            height: 100%;
            p {
                display: block;
                margin-top: 4rem;
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 5rem;
                font-weight: 900;

            }
            h5 {
                
                max-width: 800px;
                 font-family: 'Source Sans Pro', sans-serif;
                font-size: 3rem;
                font-weight: 300;
                text-align: justify;
                text-justify: auto;
                color: rgb(214, 214, 214);

            }
        }
    }
        height: 100vh;
        width: 100vw;
        background-color: rgb(37, 37, 37);

        main {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 5rem;
            align-items: center;
            p {
                color: rgb(255, 255, 255);
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 3rem;
                margin-right: 1rem;
            }
            input {
                padding: 1rem;
                outline: none;
                border: none;
                width: 30%;
                height: 10px;
            }
            button {
                color: white;
                background-color: rgb(45, 100, 119);
                padding: 2rem;
                font-size: 2rem;
                outline: none;
                border: none;
                margin-left: 2rem;
                border-radius: 20px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 900;
                cursor: pointer;
                &:hover {
                    background-color: rgb(34, 72, 85);

                }
                &:active {
                    color: rgb(45, 100, 119);
                    background-color: white;
                }

            }
        }
    }
}


.hidden {
    opacity: 0;
    transition: all 1s ease-out;
}

.show {
    opacity: 1;
}